.videoWrapper,
.imageWrapper {
  width: 100%;
  max-width: 480px;
  max-height: 720px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.videoThumbnailWrapper,
.imageThumbnailWrapper {
  width: 100%;
  max-width: 240px;
  max-height: 360px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.imageContainer {
  width: 100%;
  max-width: 240px;
  justify-content: center;
  overflow: hidden;
}
